version: '3.9'
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: refta
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/refta?schema=public
      JWT_SECRET: super-secret
      PORT: 4000
      TZ: Europe/Moscow
    depends_on:
      - db
    ports:
      - '4000:4000'

  frontend:
    build: ./frontend
    environment:
      VITE_API_URL: http://localhost:4000/api
    depends_on:
      - backend
    ports:
      - '5173:5173'

volumes:
  pgdata:
